<div id="id_footer">
   <div class="flex-row  container-footer">
    <div class="block pd-2-side">
      <div class="logo flex-column header-logo  pd-bottom-4 mt-12 ">
        <%=link_to image_tag('https://static-znews.zadn.vn/images/logo-zing-home.svg'), root_path %>
      </div>
      <p>Tạp chí điện tử Tri thức trực tuyến </p>
      <br/>
      <p>Cơ quan chủ quản: Hội Xuất bản Việt Nam </p>
      <br/>
      <p>Giấy phép báo chí: số 75/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 26/02/2020 </p>
      <br/>
      <p>Phó tổng biên tập phụ trách: Nguyễn Thị Thu Hà </p>
      <br/>
      <p>© 2021 Toàn bộ bản quyền thuộc Tri thức trực tuyến</p>
    </div>
    <div class="block pd-2-side">
      <p>Tòa soạn: Tầng 7, D29 Phạm Văn Bạch, Quận Cầu Giấy, Hà Nội </p>
      <br/>
      <p>Hotline: 0931.222.666 - Email: toasoan@zing.vn </p>
      <br/>
      <p>Liên hệ | Tuyển dụng | Quảng cáo</p>
    </div>
  </div>
</div>
