<%= render 'header' %>

<div class="page-wrapper"></div>

<div class="page-wrapper"></div>

<div id="maybemiss" class="page-wrapper">
  Tin nổi bật 48h
</div>

<section class="session session-magazine">
  Magazine
</section>

<div class="page-wrapper">
  Categories & Videos
</div>

<%= render 'footer' %>
