// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-account {
  font-weight: bold;
  padding-bottom: 24px;
}

.my-account span {
  margin-right: 8px;
}

.label-filter {
  font-weight: bold;
}

.header-container {
  font-weight: bold;
}
table td {
  padding-right: 8px;
}
