<div>
  <table>
      <tr>
        <td>Tên </td>
        <td>Thể loại</td>
        <td>Hot new</td>
        <td></td>
      </tr>
     <% @products.each do |product|%>
        <tr>
          <td> <%=link_to product.title, admin_edit_article_path(product.id) %></td>
          <td><%= product&.category&.name %></td>
          <td></td>
          <td><%=link_to 'Xóa', admin_delete_article_path(product.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end%>
    </table>
</div>
