// Place all the styles related to the admin/dash_board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "admin/all.min";
@import "admin/sb-admin-2.min";
// Import trix stylesheet
@import "trix/dist/trix";
@import "actiontext.scss";

form.form-contanier {
  max-width: 275px;
}

.form-field {
  display: flex;
  /* min-width: 300px; */
  justify-content: space-between;
  margin-top: 8px;
  align-items: baseline;
}

.form-field input,
.form-field textarea,
select {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 4px 8px;
}

.form-checkbox {
  justify-content: flex-start;
}

.form-checkbox label {
  margin-right: 4px;
}

/*Article*/
form.form {
}

.form-text {
  justify-content: flex-start;
}

.form-text label {
  min-width: 100px;
}
